PORT=3000
NODE_ENV=development
INSTANCE_ID=node-1
LOG_LEVEL=info

DATABASE_URL=postgres://linq:linq@localhost:5432/linq # database 

REDIS_URL=redis://localhost:6379 # REDIS 

LINQ_API_TOKEN=<LINQ_API_TOKEN_KEY>
LINQ_FROM_NUMBER=+
LINQ_ALLOWED_SENDER=+18624050116
LINQ_API_BASE_URL=https://api.linqapp.com/api/partner/v3

ANTHROPIC_API_KEY=

ALCHEMY_WSS_URL=wss://eth-sepolia.g.alchemy.com/v2/<ALCHEMY_API_KEY>

WALLET_ENCRYPTION_KEY=8dcbcea604e1aeea034e2992bc6c950b8e73fa901848e5d6727d7f87c1a979e9

CHAIN_CONFIRMATIONS=3

TIME_TICK_MS=1000
LEADER_LOCK_TTL_MS=10000
LEADER_LOCK_EXTEND_MS=4000





